@page "/Connectivity"
@inject ConnectivityViewModel ViewModel

<TitleCard Title="Connectivity"/>

<div class="flex flex-wrap justify-center space-y-8 py-8">
    <div class="mb-2 ml-4 mt-1 cursor-pointer text-lg text-gray-700 hover:underline">
        Bluetooth status: @ViewModel.BluetoothStateMessage
    </div>
    <button class="w-32 rounded-lg px-4 py-2 bg-gray-600 text-gray-100 hover:bg-gray-700 duration-300" @onclick="ViewModel.ScanForDevices">Scan</button>

    <div class="w-max bg-slate-100 p-6">
        @foreach (var device in ViewModel.BleDevices)
        {
            <div class="flex flex-row items-start justify-between p-4" @onclick="async () => await ViewModel.OpenServicesModal(device.Id)">
                <div class="text-md">
                    <p class="font-semibold text-gray-900">@device.Id.ToString()</p>
                </div>
                <span class="text-lg font-bold"> @(string.IsNullOrWhiteSpace(device.Name) ? "Unknown" : device.Name) </span>
            </div>
            <hr/>
        }
    </div>
</div>

@if (ViewModel.ServiceModalIsActive && ViewModel.ModalBleServices != null)
{
    <Modal CloseModalClicked="ViewModel.CloseServicesModal">
        <div class="bg-white rounded-lg">
            <h1 class="text-xl font-medium">Services</h1>
            @foreach (var service in ViewModel.ModalBleServices)
            {
                <div class="flex flex-row items-start justify-between p-4">
                    <div class="text-md">
                        <p class="font-semibold text-gray-900">@service.Id.ToString()</p>
                    </div>
                    <span class="text-lg font-bold"> @(string.IsNullOrWhiteSpace(service.Name) ? "Unknown" : service.Name) </span>
                </div>
                <hr/>
            }
        </div>
    </Modal>
}

@code {

    protected override void OnInitialized()
    {
    // Todo: Look into this BS. Cus this should be required......
        ViewModel.PropertyChanged += (_, _) => StateHasChanged();
    }

}